In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Statistical Tests
import scipy.stats as stats

# Visualizing
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
from sklearn.model_selection import learning_curve

import wrangle_zillow as wrangle

In [2]:
zillow_df = wrangle.get_zillow(wrangle.sql)

In [3]:
df = wrangle.wrangle_zillow()

In [4]:
df.head()

,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,rawcensustractandblock,regionidcity,...,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,logerror,transactiondate,heatingorsystemdesc,county
0,3.5,4.0,6.0,3100.0,6059.0,33634931.0,-117869207.0,4506.0,6.059063e+07,53571.0,...,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.72,0.025595,2017-01-01,None,Orange
1,1.0,2.0,6.0,1465.0,6111.0,34449266.0,-119281531.0,12647.0,6.111001e+07,13091.0,...,1967.0,88000.0,464000.0,2016.0,376000.0,5672.48,0.055619,2017-01-01,None,Ventura
2,2.0,3.0,6.0,1243.0,6059.0,33886168.0,-117823170.0,8432.0,6.059022e+07,21412.0,...,1962.0,85289.0,564778.0,2016.0,479489.0,6488.30,0.005383,2017-01-01,None,Orange
3,3.0,4.0,8.0,2376.0,6037.0,34245180.0,-118240722.0,13038.0,6.037300e+07,396551.0,...,1970.0,108918.0,145143.0,2016.0,36225.0,1777.51,-0.103410,2017-01-01,Central,Los Angeles
4,3.0,3.0,8.0,1312.0,6037.0,34185120.0,-118414640.0,278581.0,6.037124e+07,12447.0,...,1964.0,73681.0,119407.0,2016.0,45726.0,1533.89,0.006940,2017-01-01,Central,Los Angeles

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69523 entries, 0 to 77380
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bathroomcnt                   69523 non-null  float64
 1   bedroomcnt                    69523 non-null  float64
 2   buildingqualitytypeid         69523 non-null  float64
 3   calculatedfinishedsquarefeet  69523 non-null  float64
 4   fips                          69523 non-null  float64
 5   latitude                      69523 non-null  float64
 6   longitude                     69523 non-null  float64
 7   lotsizesquarefeet             69523 non-null  float64
 8   rawcensustractandblock        69523 non-null  float64
 9   regionidcity                  69523 non-null  float64
 10  regionidcounty                69523 non-null  float64
 11  regionidzip                   69523 non-null  float64
 12  roomcnt                       69523 non-null  float64
 13  unitcnt                       69523 non-null  float64
 14  yearbuilt                     69523 non-null  float64
 15  structuretaxvaluedollarcnt    69523 non-null  float64
 16  taxvaluedollarcnt             69523 non-null  float64
 17  assessmentyear                69523 non-null  float64
 18  landtaxvaluedollarcnt         69523 non-null  float64
 19  taxamount                     69523 non-null  float64
 20  logerror                      69523 non-null  float64
 21  transactiondate               69523 non-null  object
 22  heatingorsystemdesc           69523 non-null  object
 23  county                        69523 non-null  object
dtypes: float64(21), object(3)
memory usage: 13.3+ MB

In [6]:
train, validate, test = wrangle.train_validate_test_split(df)

In [11]:
print (train.shape)
print (validate.shape)
print (test.shape)

(41713, 24)
(13905, 24)
(13905, 24)

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41713 entries, 42186 to 4990
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bathroomcnt                   41713 non-null  float64
 1   bedroomcnt                    41713 non-null  float64
 2   buildingqualitytypeid         41713 non-null  float64
 3   calculatedfinishedsquarefeet  41713 non-null  float64
 4   fips                          41713 non-null  float64
 5   latitude                      41713 non-null  float64
 6   longitude                     41713 non-null  float64
 7   lotsizesquarefeet             41713 non-null  float64
 8   rawcensustractandblock        41713 non-null  float64
 9   regionidcity                  41713 non-null  float64
 10  regionidcounty                41713 non-null  float64
 11  regionidzip                   41713 non-null  float64
 12  roomcnt                       41713 non-null  float64
 13  unitcnt                       41713 non-null  float64
 14  yearbuilt                     41713 non-null  float64
 15  structuretaxvaluedollarcnt    41713 non-null  float64
 16  taxvaluedollarcnt             41713 non-null  float64
 17  assessmentyear                41713 non-null  float64
 18  landtaxvaluedollarcnt         41713 non-null  float64
 19  taxamount                     41713 non-null  float64
 20  logerror                      41713 non-null  float64
 21  transactiondate               41713 non-null  object
 22  heatingorsystemdesc           41713 non-null  object
 23  county                        41713 non-null  object
dtypes: float64(21), object(3)
memory usage: 8.0+ MB

Sourcing the Zillow database as the data source, create a jupyter notebook named explore_zillow and do the following:

Ask at least 5 questions about the data, keeping in mind that your target variable is logerror. e.g. Is logerror significantly different for properties in LA County vs Orange County vs Ventura County?

Answer those questions through a mix of statistical tests and visualizations.

Bonus:

In [37]:
#Some general notes:
#The target is logerror
#I suppose the overarching question would be what feature or set of features
#are most correllated to logerror?
#Another overarching question might be what features or groups have the highest amount of logerror?
#And finally, I'm curious overall- are there specific groups (considering combinations of features)
#that explain disctinct delineations of logerror?